header, footer {
    padding: 1em;
    background-color: #FFF8DC;
    color: black;
    clear: both;
    text-align: center;
}
.menu div {
    font-size: 30px;
    color: black;
    background-color: #26a69a;


}
.spalva  {
    background-color: darkgrey;
}
.shadow {
    box-shadow: none;
}